* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background: rgb(91, 89, 115);
  background: linear-gradient(
    90deg,
    rgba(91, 89, 115, 1) 0%,
    rgba(110, 115, 65, 1) 35%,
    rgba(105, 172, 185, 1) 100%
  );
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212529d6;
  padding: 10px 10px;
  color: white;
  top: 0;
  position: sticky;
  z-index: 999;
  max-height: 70px;
}

.logo img {
  width: 100px;
  cursor: pointer;
}

.logo img:hover {
  transform: scale(1.1);
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.nav-links a:hover {
  color: #ff5722;
}
/* art section */
.art-gallery {
  padding-top: 30px;
  max-width: 95%;
  margin: 0 auto;
}
.art-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.art-item {
  flex: 0 0 30%; /* Each art piece takes up 30% of the width */
  position: relative;
  text-align: center;
}

.art-item img {
  width: 100%;
  height: 500px;
  object-fit: fill;
  border: 2px solid rgb(56, 53, 53);
  transform: translateY(-10px); /* Lift the image slightly */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9); /* Add a subtle shadow for lift effect */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.art-item img:hover {
  transform: translateY(-20px); /* Increase the lift on hover */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* Enhance shadow on hover */
}

.art-name {
  font-size: 18px;
  font-weight: bold;
  color: rgb(0, 57, 38);
  margin-top: 10px;
}

.bid-options {
  display: none;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  background-color: rgba(244, 191, 212, 0.9);
  padding: 15px;
  transition: background-color 0.3s ease, opacity 0.3s ease, transform 0.3s ease; /* Added transform */
  transform: translateY(100%); /* Start hidden below the art piece */
  /* ... your existing styles ... */
}

.art-item:hover .bid-options {
  display: block;
  opacity: 1;
  transform: translateY(0); /* Move up to its original position on hover */
}
